global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: node_exporter
    static_configs:
      - targets: ["172.20.0.1:9100"]  # node-exporter runs in host net, use bridge gateway

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]
