site_name: Iso-St3ph DevOps Portfolio
site_url: https://devops.ayoskip.info/
repo_url: https://github.com/iso-st3ph/homelab-devops
repo_name: iso-st3ph/homelab-devops
theme:
  name: material
  logo: assets/isovault-logo.svg
  favicon: assets/isovault-logo.svg
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
extra_css:
  - styles/overrides.css
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/iso-st3ph
    - icon: fontawesome/solid/envelope
      link: mailto:hello@isovault.dev
extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - assets/mermaid-init.js
plugins:
  - search
  - minify:
      minify_html: true
  - redirects: {}

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.magiclink

nav:
  - Home: index.md
  - Getting Started: getting-started/index.md
  - Pricing: pricing.md
  - Security: security.md
