[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_bin_path }} \
  --web.listen-address={{ node_exporter_web_listen_address }}

SyslogIdentifier=node_exporter
Restart=always
RestartSec=5

# Security hardening
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
